{
  "semi": true,
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "es5",
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true
}
