#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
  max-width: var(--width-l);
  padding: var(--space-m);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: var(--space-xl);
  }
}
