@import url('https://fonts.googleapis.com/css2?family=Cabin:wdth,wght@75..90,400..700&display=swap');

:root,
.theme-light {
  --color-main: 77, 12%, 11%;
  --color-bg: 30, 10%, 96%;
  --color-grey: 203, 7%, 24%;
  --color-primary: 186, 18%, 42%;
  --color-primary-offset: 185, 17%, 72%;
  --color-secondary: 47, 73%, 42%;
  --color-secondary-offset: 47, 73%, 72%;
}

@media screen {
  .theme-dark {
    --color-main: 30, 10%, 96%;
    --color-bg: 77, 12%, 11%;
    --color-grey: 203, 7%, 64%;
    --color-primary: 186, 73%, 72%;
    --color-primary-offset: 187, 73%, 28%;
    --color-secondary: 18, 84%, 56%;
    --color-secondary-offset: 18, 85%, 28%;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root:not([class^='theme-']) {
    --color-main: 30, 10%, 96%;
    --color-bg: 77, 12%, 11%;
    --color-grey: 203, 7%, 64%;
    --color-primary: 186, 73%, 72%;
    --color-primary-offset: 187, 73%, 28%;
    --color-secondary: 18, 84%, 56%;
    --color-secondary-offset: 18, 85%, 28%;
  }
}

:root {
  --fonts: Cabin, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-weight: 400;
  --font-weight-max: 700;

  --width-m: 768px;
  --width-l: 900px;

  --breakpoint-xs: 375px;
  --breakpoint-s: 768px;
  --breakpoint-m: 1200px;
  --breakpoint-l: 1600px;

  --letter-spacing: 2px;

  --size-touch: 44px;

  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
}

body {
  margin: 0;
  font-family: var(--fonts);
  font-size: 16px;
  font-weight: var(--font-weight);
  line-height: 1.75;
  color: HSL(var(--color-main));
  background: HSL(var(--color-bg));
  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-max);
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
  color: HSL(var(--color-primary));
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

sub,
sup {
  font-size: 0.5em;
  font-weight: var(--font-weight);
  opacity: 0.875;
}

p {
  font-size: 22.8571px;
  line-height: 40px;
  padding: 0.05px 0;
}

p::before {
  content: '';
  margin-top: -0.5347em;
  display: block;
  height: 0;
}

p::after {
  content: '';
  margin-bottom: -0.5197em;
  display: block;
  height: 0;
}

section + section {
  margin-top: var(--space-m);
}

a {
  color: inherit;
  fill: currentColor;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

label {
  color: HSL(var(--color-grey));
}

input {
  transition: border-color 200ms ease-in;
  border-radius: 4px;
  border: 2px solid transparent;
  border-bottom-color: HSL(var(--color-primary-offset));
  padding: calc(var(--space-s) * 0.5) var(--space-s);
  min-height: var(--size-touch);
  width: 100%;
  background-color: HSL(var(--color-grey), 0.125);
  color: HSL(var(--color-main));
  font-size: 1em;
}

input:focus {
  outline: none;
  border-color: HSL(var(--color-primary));
}

button {
  transition: border-color 200ms ease-in, background-color 200ms ease-in,
    color 200ms ease-in;
  display: inline-flex;
  align-items: center;
  border: 3px solid HSL(var(--color-bg));
  border-radius: 9999px;
  box-shadow: 0 5px 10px -2px HSL(var(--color-bg), 0.333);
  padding: var(--space-s) var(--space-m);
  font-size: 1em;
  color: HSL(var(--color-bg));
  background-color: HSL(var(--color-main), 0.667);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

button:focus,
button:hover {
  border-color: HSL(var(--color-bg));
  background-color: HSL(var(--color-main));
  color: HSL(var(--color-bg));
  outline: none;
}

svg {
  min-width: 1em;
  min-height: 1em;
  max-height: 100%;
  max-width: 100%;
}

figure {
  margin: var(--space-m);
}

figcaption {
  display: block;
  margin-top: var(--space-s);
  color: HSL(var(--color-grey));
  text-align: center;
  font-style: italic;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
