.extremes,
.meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--space-m);
}

.meta {
  row-gap: var(--space-m);
  align-items: flex-end;
  margin-bottom: var(--space-m);
}

.meta > :nth-child(1),
.meta > :nth-child(2) {
  grid-column: 1/-1;
}

.extremes {
  grid-column: 1 / -1;
  border-radius: var(--border-radius);
  border: 1px dashed HSL(var(--color-grey), 0.333);
  padding: var(--space-s);
  margin: calc(var(--space-s) * -1);
}

.extremes > [role='heading'] {
  grid-column: 1 / -1;
  margin-bottom: var(--space-m);
  color: HSL(var(--color-grey));
  text-align: center;
}

.loading {
  margin-top: 0;
}

@media (min-width: 768px) {
  .meta {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: var(--space-l);
  }

  .meta > :nth-child(1),
  .meta > :nth-child(2) {
    grid-column: unset;
  }

  .extremes {
    grid-column: 3 / -1;
  }
}
