.card {
  --fg: var(--color-main);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0px HSL(var(--bg), 0.666);
  padding: var(--space-m);
  background-color: HSL(var(--bg, var(--color-primary-offset)));
  color: HSL(var(--fg, var(--color-main)));
  overflow: hidden;
}
.grey {
  --bg: var(--color-grey);
  --fg: var(--color-bg);
}
.primary {
  --bg: var(--color-primary-offset);
}
.secondary {
  --bg: var(--color-secondary-offset);
}
