@keyframes background {
  from {
    background-color: transparent;
  }

  to {
    background-color: HSl(var(--color-grey), 0.75);
  }
}

.backdrop {
  animation: background 200ms ease-in;
  position: fixed;
  background-color: HSL(var(--color-grey), 0.75);
  top: 0;
  right: 100vw;
  bottom: 100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.form {
  position: relative;
  border-radius: 8px;
  border: 1px solid HSL(var(--color-grey), 0.25);
  box-shadow: 0 5px 10px -2px HSL(var(--color-grey), 0.125);
  margin: var(--space-m) 0;
  padding: var(--space-m);
  background-color: HSL(var(--color-bg));
  z-index: 10;
}

.container {
  transition: border-color 200ms ease-in;
  display: flex;
  align-items: stretch;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: HSL(var(--color-grey), 0.125);
}

.container:focus-within {
  border-color: HSL(var(--color-primary-offset));
}

.container label {
  position: absolute;
  display: block;
  border-radius: 8px;
  padding: 0 var(--space-s);
  top: -1em;
  left: var(--space-s);
  background-color: HSL(var(--color-bg));
}

.container input {
  border-width: 0;
  background-color: transparent;
}

.container button {
  flex: 1 0 auto;
  border-radius: 6px;
  border: none;
  padding: var(--space-s);
  margin: 0;
  margin-left: var(--space-s);
  background-color: transparent;
  color: HSL(var(--color-grey));
}

.container button:active,
.container button:focus,
.container button:hover {
  background-color: HSL(var(--color-grey));
  color: HSL(var(--color-bg));
}

.results {
  position: absolute;
  border-radius: inherit;
  border: 1px solid HSL(var(--color-grey), 0.333);
  box-shadow: 0 5px 15px 2px HSL(var(--color-grey), 0.125);
  width: 100%;
  top: calc(100% + var(--space-m));
  left: 0;
  background-color: HSL(var(--color-bg));
  overflow: hidden;
}

.results [role='heading'] {
  display: block;
  border-bottom: 2px solid HSL(var(--color-grey), 0.333);
  box-shadow: 0 5px 10px -2px HSL(var(--color-grey), 0.125);
  padding: var(--space-m);
}

.results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 50vh;
  overflow-y: auto;
}

.results li {
  margin: 0 var(--space-m);
}

.results li + li {
  border-top: 1px solid HSL(var(--color-grey), 0.125);
}

.results a {
  transition: background-color 200ms ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-m);
  margin: 0 calc(var(--space-m) * -1);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  font-size: 1.25rem;
}

.results svg {
  transition: opacity 200ms ease-in;
  opacity: 0;
}

.results a:focus svg,
.results a:hover svg {
  opacity: 1;
}

.results a:focus,
.results a:hover {
  background-color: HSL(var(--color-grey), 0.125);
}
